 input[type="checkbox"]{
        display:none;
    }

.Comment{

    & label + div{
        transition-property: transform, height;
        transition-duration: .2s;
        transition-timing-function: ease-in-out;
    }

    & > div:nth-child(1){
        margin-top:5px;
        margin-bottom:5px;
        font-size: 1.5vw;
        color: black;
    }

    & > div:nth-child(2){
        margin-top:5px;
        margin-bottom:5px;
    }

    & > label:nth-child(3){
        color:gray
    }
}


label:has(input)+.CommentForm{
        transform: scaleY(0);
        height: 0;
    }

label:has(input:checked) + .CommentForm{
        transform: scaleY(1);
        height: 170px;
    }

.CommentForm{

    & textarea{
        color: white;
        resize: none;
        height: 100px;
        width: 80%;
        padding: 10px;
        border-radius: 20px;
        background-color: gray;
    }
}

.CommentList{
    list-style-type: none;

    background-color: #444444;

    border-style: solid;
    border-width: 1px;
    border-color: gray;
}