@import "forms.css";
@import "comment.css";
@import "image_grid.css";
@import "image.css";
@import "buttons.css";


html{
/*height: 100%;*/
    height:1px;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background-image: linear-gradient(black, gray);
background-attachment: fixed;

}

body{
    height: 80%;


    margin:0;
    color: white;
    font-family: roboto;
    font-weight: 700;
}
.margins{
    margin-left: 2%;
    margin-right: 2%;
    position:relative;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.Navbar {
    display: flex;
    justify-content: space-between;   /* poziomo */
    align-items: center; /* pionowo */
    flex-direction: row;  /* do określenia kierunku */
    width: 100%;
    margin-top:2em;
    font-size: 2vw;
}


.VerticalFlexCenter{
    display: flex;
    justify-content: center;   /* poziomo */
    align-items: center; /* pionowo */
    flex-direction: column;  /* do określenia kierunku */
    gap: 10px;
}

.VerticalFlex{
    display: flex;
    justify-content: space-around;   /* poziomo */
    align-items: center; /* pionowo */
    flex-direction: column;  /* do określenia kierunku */
    gap: 10px;
}

.VerticalFlexLeft{
    display: flex;
    justify-content: space-around;   /* poziomo */
    align-items: start; /* pionowo */
    flex-direction: column;  /* do określenia kierunku */
    gap: 10px;
}

.HorizontalFlexCenter{
    display: flex;
    justify-content: center;   /* poziomo */
    align-items: center; /* pionowo */
    flex-direction: row;  /* do określenia kierunku */
    gap: 30px;
}

.HorizontalFlexLeft{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.HorizontalFlexRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}

.HorizontalList{
    display: flex;
    justify-content: space-around;   /* poziomo */
    align-items: center; /* pionowo */
    flex-direction: row;  /* do określenia kierunku */
    gap: 30px;
}

.HorizontalSpread{
    display: flex;
    justify-content: space-between;   /* poziomo */
    align-items: center; /* pionowo */
    flex-direction: row;  /* do określenia kierunku */
    gap: 30px;
}

