
<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

<body>

<div class="Navbar">
    <div class="HorizontalFlexLeft">
        <a href=".." target="_self" class="admin-button" id="main">
			<div> ARTISTSWORLD</div>
		</a>
        {% if profile_search %}
        <form method="get" action="/profile">
            <input type="hidden" name="userID" value="{{userID}}">
            <input type="text" name="query" placeholder="Szukaj w profilu">
        </form>
        {% else %}
        <form method="get" action=".">
            <input type="text" name="query" placeholder="Szukaj">
        </form>
        {% endif %}

        {% block title %}
        {% endblock %}

    </div>
    <div class="HorizontalFlexLeft">
        {% if logged %}
        <a href="/profile?userID={{userID}}">
            {% if admin %}
            <div style="background-color: green;">
                {% else %}
            <div>
                {% endif %}
                {{nick}}
            </div>
        </a>
        <a href="logout" target="_self" class="admin-button" id="logout">
			<div class="Button"> WYLOGUJ</div>
		</a>
        {% else %}
        <a href="login" target="_self" class="admin-button" id="login">
			<div class="Button"> ZALOGUJ</div>
		</a>
        <a href="register" target="_self" class="admin-button" id="register">
			<div class="Button"> ZAREJESTRUJ</div>
		</a>
        {% endif %}
        {% if logged %}
        <a href="publish" target="_self" class="admin-button" id="publish">
			<div class="Button"> OPUBLIKUJ</div>
		</a>
        {% else %}
        <a href="login" target="_self" class="admin-button" id="publish_login">
			<div class="Button"> OPUBLIKUJ</div>
		</a>
        {% endif %}
        {%  if admin %}
        <a href="admin" target="_self" class="admin-button">
			<div class="Button"> PANEL ADMINA</div>
		</a>
        {% endif %}

    </div>
</div>
</div>
<div style="height: 100%;">
    <div style="margin: 2%;">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>