<!-- requires comments object -->
<ul class="CommentList">
{% for comment in comments %}
    <li>
        <div class="Comment">
            {% if not comment.deleted %}
            <div>
                {{ comment.user.username}}
            </div>
            {% endif %}
            <div>
                {{ comment.text}}
            </div>
            <label class="BlackHref" style="font-size: 0.9vw; margin-bottom:10px; padding:3px;">
                <input type="checkbox">
                Odpowiedz
            </label>
            <form class="CommentForm" method="post">
                <div class="VerticalFlexLeft">
                    {% csrf_token %}
                    <textarea name="text">TEkst wejściowy</textarea>
                    <input type="hidden" name="respondedCommentID" value="{{comment.id}}">
                    <input type="hidden" name="type" value="respondedComment">
                    <input class="WhiteHref" type="submit" value="Wyślij">
                </div>
            </form>
            {% if admin %}
            <form class="CommentForm" method="post">
                <div class="VerticalFlexLeft">
                    {% csrf_token %}
                    <input type="hidden" name="respondedCommentID" value="{{comment.id}}">
                    <input type="hidden" name="type" value="delete_comment">
                    <input class="ButtonRed" type="submit" value="Usuń komentarz">
                </div>
            </form>
            {% endif %}
        </div>
        {% if comment.subcomments|length %}
            {% include "comments.html" with comments=comment.subcomments %}
        {% endif %}
    </li>
{% endfor %}
</ul>