{% extends 'base.html' %}

{% block content %}
<div class="VerticalFlex" style="height:100%">
    <div class="HorizontalFlexCenter" >
        <form method="post" enctype="multipart/form-data" class="VerticalFlex">
            {% csrf_token %}

            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
            {% endfor %}


            {% for field in form.visible_fields %}

              <div class="inputbox">
                  {{ field.errors }}
                  {{ field }}
                  {{ field.help_text }}
                <span>
                  {{ field.label_tag }}
                </span>
              </div>
            {% endfor %}
            <input class="ButtonBlue" type="submit" value="{{ submit_text }}">
        </form>
    </div>
</div>

{% if error %}
<div>{{ error.reason }}</div>
{% endif %}


{% endblock %}