{% extends 'base.html' %}

{% block content %}
<div>
    <img>
    <div class="VerticalFlex">
         <img src="{{MEDIA_URL}}{{image.image}}" width="120px"/>
        <div> Nick  </div>
        <div> {{image.title}}  </div>
        <div> {{image.description}} </div>
        <div> data wstawienia </div>
    </div>

    <!-- comments-->

    <div>
        <label>
            <input type="checkbox">
            Dodaj komentarz!
        </label>
        <form class="CommentForm" method="post">
            <div class="VerticalFlexLeft">
                {% csrf_token %}
                <input type="hidden" name="type" value="comment">
                <textarea id="text" name="text">TEkst wejściowy</textarea>
                <input type="submit" value="Wyślij">
            </div>
        </form>
    </div>
    <div>
        {% include "comments.html" %}
    </div>
</div>
{% endblock %}