{% extends 'base.html' %}

{% block content %}
<div class="VerticalFlexCenter" style="height:100%">
    <div class="HorizontalFlexCenter">
        <form class="VerticalFlex">
            <div class="HorizontalList" style="width: 20%">
                <label for="mail">Mail</label>
                <input name="mail" id="mail"> </input>
            </div>
            <div class="HorizontalList" style="width: 20%">
                <label for="password">Hasło</label>
                <input name="password" id="password"> </input>
            </div>
            <input type="submit" id="submit" value="Zaloguj">
        </form>
    </div>
</div>

{% endblock %}